h1 {
  margin-top: 0px;
  color: #395B64;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #395B64;
}

body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}


.top-container {
  height: 5px;
  width: 100%;
  background-color: #A5C9CA;
  padding-top: 50px;
  top: 0;
  position: fixed;
  z-index:3
}

.top-cloud {
  position: absolute;
  top: 17%;
  right: 35%;
  z-index:2
}

.bottom-cloud {
  position: absolute;
  left: 35%;
  top: 300px;
  z-index:1
}


.middle-container {
  padding-top: 200px;
  height: 900px;
  width: 100%;
  background-color: #E7F6F2;
}

.bottom-container {

}
